/* 
#F6F0F3 white
#87B0BB light blue
#F4BC25 yellow
#99785C brown
#413B3E dark blue
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #F4EFF2;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

nav {
  background-color: #87b087BB;
  display: flex;
  justify-content: center;
  height: 20px
}

.nav_link {
  margin: 1px 10px;
  font-size: small;
}
.titles{
  background-color: #413b3e;
  
}
.titles h1 {
  font-size: large;
  color: #F6F0F3;
}

.titles h3 {
  font-size: medium;
  color: #F4BC25;
  font-style: italic;
}




@media only screen and (min-width: 600px) {
  .articleList {
    display: flex;
    flex-wrap: wrap;
    
  }
}